#data-container {
  display: none;
}

.file-add > input {
  display: none;
}

.add-button {
  cursor: pointer;
}

.item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.file .size {
  font-size: 70%;
}

.item {
  margin-top: 0px;
  height: 70px;
}

.item-add {
  float: right;
}

.file-add label, .item-add a {
  width: 80px;
}

.file-add {
  margin-left: 10px;
}

.media-controls {
  display: none;
}

.item-name {
  width: 100%;
  border: 1px solid transparent;
  height: 24px;
  padding: 1px 1px 1px 2px;
}

.item-name:hover {
  background-color: white;
  border: 1px solid #DDD;
  -webkit-appearance: textfield;
  background-color: white;
  cursor: text;
}

.item-name-text {
  width: 100%;
  display: none;
  font-weight: bold;
  height: 24px;
}
