* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

#data-container {
  display: none;
}

.file-add > input {
  display: none;
}

.add-button {
  cursor: pointer;
}

.item {
  float: left;
  padding: 10px;
  margin-top: 0px;
  height: 110px;
  position: relative;
  border: 1px solid transparent;
  text-align: center;
}

.item-container {
  display: inline-block;
  width: 100%;
}

.item-add {
  float: right;
}

.file-add label, .item-add a {
  width: 80px;
}

.file-add {
  margin-left: 10px;
}

.item .item-controls {
  display: none;
  position: absolute;
  right: 3px;
}

.item.new .item-controls {
  display: block;
}

.item-name {
  width: 100%;
  border: 1px solid transparent;
  padding: 1px 1px 1px 2px;
  height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-name:hover {
  border: 1px solid #DDD;
  background-color: white;
  cursor: text;
}

.item-name-text {
  width: 100%;
  display: none;
  text-align: center;
  resize: none;
}

.item-image, .item-body {
  text-align: center;
}

.item-image .icon {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.item-delete {
  color: #d9534f;
}

.folder-container {
  width: 100%;
  float: left;
}

.sortable-ghost {
  background-color: #FFFFE0;
  border: 1px solid #FFFF00;
  border-radius: 5px;
}

.sortable-ghost .item-delete, .sortable-chosen .item-delete {
  display: none;
}

.item-buttons {
  float: right;
  margin-top: 4px;
  margin-right: 4px;
}

#messages {
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 10px;
  width:500px;
  position:fixed;
  z-index:1030;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input.last {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.form-signin input[type="submit"] {
  margin-top: 10px;
}

.logo {
  background: transparent url("/assets/logo.png") no-repeat left center;
  padding-left: 40px;
}

.item .size {
  font-size: 10px;
  color: #AAA;
}

.item .status {
  width: 100%;
}

.breadcrumb .size {
  font-size: 12px;
  color: #AAA;
  padding-left: 5px;
}

.properties {
  display: none;
}
