#data-container {
  display: none;
}

.file-add > input {
  display: none;
}

.add-button {
  cursor: pointer;
}

.folder, .file {
  padding-top: 20px;
  padding-bottom: 20px;
}

.file .size {
  font-size: 70%;
}

.folder, .file {
  margin-top: 0px;
}

.file-add, .folder-add {
  float: right;
}

.file-add {
  margin-left: 10px;
}
