<% content_for :data_container do %>
  <%= render Upload.new %>
<% end %>

<input id="fileupload" type="file" name="files[]" data-url="/upload" multiple>

<button id="start_upload" type="button">Start all</button>
<button id="stop_uploads" type="button">Cancel all</button>
<span>Total progress: <span id="total_progress">0%</span></span>

<div id="files">
  <%= render @uploads %>
</div>
